.headerLinks {
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 16px;
  margin: 0 5px 0 5px;
}

.headerLinks:hover, .headerLinks:active {
  color: #07AAA3;
}